.city-search{
  display: flex;
  justify-content: center;
  width: 100%;

}

.submit-button{
  width: 25%;
  margin-right: 20px;
}

.clear-button{
  width: 25%;
}

.buttons{
  display: flex;
  justify-content: center;
}
