.daily-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border: solid rgb(164, 172, 176);
  background-color: rgb(186, 190, 190);
  margin: 10px;
}

.date{
  margin: 15px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.day-data{
  margin: 10px;
}

.temp{
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

.feels-like{
  text-align: center;
  padding: 10px;
  width: 100%;
}

.icon{
  width: 60px;
  height: 60px;
  text-align: center;
}

.day-timeline{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}
