.weekly-forecast{
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.heading{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #fff;
  margin: 10px;
}
