
.current-weather{
  font-family: monospace;
  display: flex;
  justify-content: left;
  font-size: 12px;
  margin: 50px;
  flex-wrap: wrap;
  padding: 10px;
  color: #fff;
 }

 .temp-menue{
   text-align: center;
   margin: 15px;
 }

 .max-min-temp{
   text-align: center;
 }

 .side-information{
   text-align: center;
 }

 .temp{
   font-size: 28px;
   display: flex;
   justify-content: center;
   font-weight: bold;
 }

 .max-temp{
   display: flex;
   justify-content: center;
 }

 .humidity{
   display: flex;
   justify-content: center;
 }

 .icon{
   width: 80px;
   height: 80px;
 }
